/*
 * Globals
 */
body {
  position: relative;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}

/*
 * Header
 */
.header-land-page {
  background-color: rgb(249, 249, 250);
}
.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 500;
  color: rgba(56, 56, 56, 0.5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: rgb(0, 0, 0);
  border-bottom-color: rgb(0, 0, 0);
}

/*
 * Main
 */
 .headline {
   height: 100vh;
   min-width: 176px;
  /* box-shadow: inset 0 0 0 1000px rgba(148, 123, 123, 0.2); */
  background-image: url(../../public/img/headline2-mobile.jpg);
  background-size:100%;
  background-position:bottom;
  background-repeat: no-repeat;
}

.subheadline1 {
  height: 100vh;
  min-width: 176px;
  color: white;
 /* box-shadow: inset 0 0 0 1000px rgba(148, 123, 123, 0.2); */
 background-image: url(../../public/img/subheadline1-mobile-2.jpg);
 background-size:100%;
 background-position:bottom;
 background-repeat: no-repeat;
}

.subheadline2 {
  height: 100vh;
  min-width: 176px;
  color: white;
 /* box-shadow: inset 0 0 0 1000px rgba(148, 123, 123, 0.2); */
 background-image: url(../../public/img/subheadline2-mobile.png);
 background-size:100%;
 background-position:bottom;
 background-repeat: no-repeat;
}

 @media only screen and (min-width: 769px) {
  .headline {
    height: 100vh;
    max-height: 1080px;
    /* box-shadow: inset 0 0 0 1000px rgba(148, 123, 123, 0.2); */
    background-image: url(../../public/img/headline2-tablet.jpg);
    background-size: cover;
    background-position:bottom;
    background-repeat: no-repeat;
  }

  .subheadline1 {
    height: 100vh;
    max-height: 1080px;
    background-image: url(../../public/img/subheadline1-tablet-2.jpg);
    background-size: cover;
    background-position:bottom;
    background-repeat: no-repeat;
  }

  .subheadline2 {
    height: 100vh;
    max-height: 1080px;
    background-image: url(../../public/img/subheadline2-tablet.png);
    background-size: cover;
    background-position:bottom;
    background-repeat: no-repeat;
  }

 }
 


 /*
 * Footer
 */

 .footer-land-page {
   background-color:rgba(56, 56, 56);
 }

 /*
 * Extra utilities
 */

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}